<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <h2>Contact Form</h2>
    <form th:action="@{/contact}" th:object="${contact}" method="post">
        <label for="name">First Name  :</label>
        <input type="text" id="name" name="name" th:field="*{name}" pattern=".{3,}" title="Please enter at least 3 characters" required>
         <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
         <br>
           <label for="lname">Last Name  :</label>
        <input type="text" id="lname" name="lname" th:field="*{lname}" pattern=".{3,}" title="Please enter at least 3 characters" required>
         <span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
        <br>
        <label for="email">Email :</label>
        <input type="email" id="email" th:field="*{email}" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br>
        <label for="phone">Phone :</label>
        <input type="text" id="phone" name="phone" th:field="*{phone}" pattern="\d{10}" title="Please enter a 10-digit phone number" required> <br>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
